<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Ammo</title>
<link rel="stylesheet"
	href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
</head>
<link
	href="https://fonts.googleapis.com/css2?family=Russo+One:wght@400;700&display=swap"
	rel="stylesheet">
<link
	href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro&display=swap"
	rel="stylesheet">	
<link href="/css/style.css" rel="stylesheet">
<body>
	<div th:replace="~{layout :: navbar}"></div>
	
	<div class="container mt-3" style="max-width: 1500px">
		<a class="btn custom-btn mt-1 px-3" href="/allAmmo?caliber=Caliber12g">12/70</a>
		<a class="btn custom-btn mt-1 px-3" href="/allAmmo?caliber=Caliber20g">20/70</a>
		<a class="btn custom-btn mt-1 px-3" href="/allAmmo?caliber=Caliber366TKM">.366 TKM</a>
		<a class="btn custom-btn mt-1 px-3" href="/allAmmo?caliber=Caliber23x75">23×75</a>
		<a class="btn custom-btn mt-1 px-3" href="/allAmmo?caliber=Caliber762x25TT">7.62×25</a>		
		<a class="btn custom-btn mt-1 px-3" href="/allAmmo?caliber=Caliber9x18PM">9×18</a>
		<a class="btn custom-btn mt-1 px-3" href="/allAmmo?caliber=Caliber9x19PARA">9×19</a>
		<a class="btn custom-btn mt-1 px-3" href="/allAmmo?caliber=Caliber9x21">9×21</a>		
		<a class="btn custom-btn mt-1 px-3" href="/allAmmo?caliber=Caliber9x33R">.357 Mag</a>			
		<a class="btn custom-btn mt-1 px-3" href="/allAmmo?caliber=Caliber1143x23ACP">.45 ACP</a>
		<a class="btn custom-btn mt-1 px-3" href="/allAmmo?caliber=Caliber127x33">.50 AE</a>
		<a class="btn custom-btn mt-1 px-3" href="/allAmmo?caliber=Caliber46x30">4.6×30</a>
		<a class="btn custom-btn mt-1 px-3" href="/allAmmo?caliber=Caliber57x28">5.7×28</a>
		<a class="btn custom-btn mt-1 px-3" href="/allAmmo?caliber=Caliber545x39">5.45×39</a>
		<a class="btn custom-btn mt-1 px-3" href="/allAmmo?caliber=Caliber556x45NATO">5.56×45</a>
		<a class="btn custom-btn mt-1 px-3" href="/allAmmo?caliber=Caliber68x51">6.8×51</a>
		<a class="btn custom-btn mt-1 px-3" href="/allAmmo?caliber=Caliber762x35">.300 Blackout</a>
		<a class="btn custom-btn mt-1 px-3" href="/allAmmo?caliber=Caliber762x39">7.62×39</a>
		<a class="btn custom-btn mt-1 px-3" href="/allAmmo?caliber=Caliber9x39">9×39</a>								
		<a class="btn custom-btn mt-1 px-3" href="/allAmmo?caliber=Caliber127x55">12.7×55</a>
		<a class="btn custom-btn mt-1 px-3" href="/allAmmo?caliber=Caliber762x51">7.62×51</a>
		<a class="btn custom-btn mt-1 px-3" href="/allAmmo?caliber=Caliber762x54R">7.62×54R</a>
		<a class="btn custom-btn mt-1 px-3" href="/allAmmo?caliber=Caliber86x70">.338 LM</a>
		<a class="btn custom-btn mt-1 px-3" href="/allAmmo?caliber=Caliber127x99">.50 BMG</a>		
		<a class="btn custom-btn mt-1 px-3" href="/allAmmo">Reset</a>
	</div>
	<div class="container mt-3" style="max-width: 1500px">
		<table class="table table-bordered" style="table-layout: fixed;">
			<thead>
				<tr>
					<th style="width: 120px;">Image</th>

					<th style="width: 25%;"><a
						th:href="@{/allAmmo(caliber=${caliber}, sort='name', order=${sort == 'name' and order == 'asc' ? 'desc' : 'asc'})}"
						style="color: inherit; text-decoration: none;"> Name </a></th>

					<th style="width: 25%;"><a
						th:href="@{/allAmmo(caliber=${caliber}, sort='damage', order=${sort == 'damage' and order == 'asc' ? 'desc' : 'asc'})}"
						style="color: inherit; text-decoration: none;"> Damage </a></th>

					<th style="width: 25%;"><a
						th:href="@{/allAmmo(caliber=${caliber}, sort='armorDamage', order=${sort == 'armorDamage' and order == 'asc' ? 'desc' : 'asc'})}"
						style="color: inherit; text-decoration: none;"> Armor damage </a>
					</th>

					<th style="width: 25%;"><a
						th:href="@{/allAmmo(caliber=${caliber}, sort='penetrationPower', order=${sort == 'penetrationPower' and order == 'asc' ? 'desc' : 'asc'})}"
						style="color: inherit; text-decoration: none;"> Penetration </a></th>
				</tr>
			</thead>
			<tbody>
				<th:block th:each="ammo : ${allAmmo}">
					<tr>
						<td><img th:src="${ammo.inspectImageLink}" class="img-fluid"
							style="max-width: 100px"></td>
						<td><a
							th:href="@{/ammo(normalizedName=${ammo.normalizedName})}"
							th:text="${ammo.name}" style="font-weight: bold; color: #c7c5b3; cursor: pointer; text-decoration: none;"></a></td>
						<td
							th:text="${ammo.properties != null} ? ${ammo.properties.damage} : '-'"></td>
						<td
							th:text="${ammo.properties != null} ? ${ammo.properties.armorDamage} : '-'"></td>
						<td
							th:text="${ammo.properties != null} ? ${ammo.properties.penetrationPower} : '-'"></td>
					</tr>
				</th:block>
			</tbody>
		</table>
	</div>

	<script src="/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>