<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Armor</title>
<link rel="stylesheet"
	href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
<link
	href="https://fonts.googleapis.com/css2?family=Russo+One:wght@400;700&family=Source+Code+Pro:wght@300&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
	rel="stylesheet">
<link href="/css/style.css" rel="stylesheet">
</head>
<body>
	<div th:replace="~{layout :: navbar}"></div>

	<div class="container-fluid mt-3">
		<h2 th:text="${armor.name}"></h2>

		<div class="top-section">
			<img class="zoomable-image zoom-cursor"
				th:src="${armor.gridImageLink}" th:data-full="${armor.image8xLink}"
				style="width: 120px" />
			<div class="description-box" th:text="${armor.description}"></div>
		</div>
		<div class="mid-section">
			<table class="table table-bordered" style="max-width: 400px;">
				<tbody>
					<tr>
						<th>Armor class</th>
						<td th:text="${armor.properties.armorClass}">-</td>
					</tr>
					<tr>
						<th>Armor type</th>
						<td th:text="${armor.properties.armorType}">-</td>
					</tr>
					<tr>
						<th>Armor zones</th>
						<td><ul><li  th:each="zone : ${armor.properties.zones}" th:text="${zone}"></li></ul></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<script src="/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js"></script>
	<script src="/js/image-zoom.js"></script>
</body>
</html>