<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Headphones</title>
<link rel="stylesheet"
	href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
<link
	href="https://fonts.googleapis.com/css2?family=Russo+One:wght@400;700&family=Source+Code+Pro:wght@300&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
	rel="stylesheet">
<link href="/css/style.css" rel="stylesheet">
</head>
<body>
	<div th:replace="~{layout :: navbar}"></div>

	<div class="container-fluid mt-3">
		<h2 th:text="${phone.name}"></h2>

		<div class="top-section">
			<img class="zoomable-image zoom-cursor" th:src="${phone.gridImageLink}" th:data-full="${phone.image8xLink}" style="width:120px"/>
			<div class="description-box" th:text="${phone.description}"></div>
		</div>

		<div class="mid-section">
			<table class="table table-bordered" style="max-width: 400px;">
				<tbody>
					<tr>
						<th>Ambient, dB</th>
						<td th:text="${phone.properties.ambientVolume}">-</td>
					</tr>
					<tr>
						<th>Compressor attack, ms</th>
						<td th:text="${phone.properties.compressorAttack}">-</td>
					</tr>
					<tr>
						<th>Compressor release, ms</th>
						<td th:text="${phone.properties.compressorRelease}">-</td>
					</tr>
					<tr>
						<th>Compressor gain, dB</th>
						<td th:text="${phone.properties.compressorGain}">-</td>
					</tr>
					<tr>
						<th>Compressor threshold, dB</th>
						<td th:text="${phone.properties.compressorThreshold}">-</td>
					</tr>
					<tr>
						<th>Distance modifier</th>
						<td th:text="${phone.properties.distanceModifier}">-</td>
					</tr>
					<tr>
						<th>Distortion</th>
						<td th:text="${phone.properties.distortion}">-</td>
					</tr>
					<tr>
						<th>Dry volume</th>
						<td th:text="${phone.properties.dryVolume}">-</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
	<script src="/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js"></script>
	<script src="/js/image-zoom.js"></script>
</body>
</html>