<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Items</title>
<link rel="stylesheet"
	href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
</head>
<link href="https://fonts.googleapis.com/css2?family=Russo+One:wght@400;700&display=swap" rel="stylesheet">
<link href="/css/style.css" rel="stylesheet">
<body>
	<div th:replace="~{layout :: navbar}"></div>

	<div class="mt-3">
		<table class="table table-bordered" style="table-layout: fixed;">
			<thead>
				<tr>
					<th style="width: 170px;">Image</th>
					<th style="width: 20%;">Name</th>
					<th style="width: 20%;">Base Price</th>
					<th style="width: 20%;">Average 24h Price</th>
					<th style="width: 20%;">Last 48h</th>
					<th style="width: 20%;">Last 48h %</th>
				</tr>
			</thead>
			<tbody>
				<th:block th:each="item : ${items}">
					<tr>
						<td><img th:src="${item.inspectImageLink}" class="img-fluid"
							style="max-width: 150px"></td>
						<td th:text="${item.shortName}"></td>
						<td th:text="${item.basePrice}"></td>
						<td
							th:text="${item.avg24hPrice != null ? item.avg24hPrice : 'No Data'}"></td>
						<td
							th:text="${item.changeLast48h != null ? item.changeLast48h : 'No Data'}"></td>
						<td
							th:text="${item.changeLast48hPercent != null ? item.changeLast48hPercent : 'No Data'}"></td>
					</tr>
				</th:block>
			</tbody>
		</table>
	</div>

	<script src="/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>