<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Weapons</title>
<link rel="stylesheet"
	href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
<link
	href="https://fonts.googleapis.com/css2?family=Russo+One:wght@400;700&family=Source+Code+Pro:wght@300&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
	rel="stylesheet">
<link href="/css/style.css" rel="stylesheet">
<body>
	<div th:replace="~{layout :: navbar}"></div>

	<div class="container mt-3" style="max-width: 1500px">
		<a class="btn custom-btn mt-1 px-3" href="/weapons?category=shotgun">Shotgun</a>
		<a class="btn custom-btn mt-1 px-3" href="/weapons?category=assault-rifle">Assault Rifle</a>
		<a class="btn custom-btn mt-1 px-3" href="/weapons?category=assault-carbine">Assault Carbine</a>
		<a class="btn custom-btn mt-1 px-3" href="/weapons?category=smg">SMG</a>
		<a class="btn custom-btn mt-1 px-3" href="/weapons?category=machinegun">Machinegun</a>
		<a class="btn custom-btn mt-1 px-3" href="/weapons?category=marksman-rifle">Marksman Rifle</a>
		<a class="btn custom-btn mt-1 px-3" href="/weapons?category=sniper-rifle">Sniper Rifle</a>
		<a class="btn custom-btn mt-1 px-3" href="/weapons?category=handgun">Handgun</a>
		<a class="btn custom-btn mt-1 px-3" href="/weapons?category=revolver">Revolver</a>
	</div>

	<div class="container mt-3" style="max-width: 1500px">
		<table class="table table-bordered" style="table-layout: fixed;">
			<thead>
				<tr>
					<th style="width: 170px;">Image</th>
					<th style="width: 20%;">Name</th>										
					<th style="width: 20%;">Norm Name</th>					
					<th style="width: 20%;">Caliber</th>					
					<th style="width: 20%;">Firemodes</th>					
					<th style="width: 20%;">Firerate</th>					
					<th style="width: 20%;">Ergonomics</th>					
					<th style="width: 20%;">Vertical</th>					
					<th style="width: 20%;">Horizontal</th>					
					<th style="width: 20%;">Moa</th>										
				</tr>
			</thead>
			<tbody>
				<th:block th:each="weapon : ${weapons}">
					<tr>
						<td><img th:src="${weapon.gridImageLink}" class="img-fluid"
							style="max-width: 150px"></td>
						<td><a th:href="@{/weapon(normalizedName=${weapon.normalizedName})}"
							   th:text="${weapon.name}" style="font-weight: bold; color: #c7c5b3; cursor: pointer; text-decoration: none;"></a></td>
						<td th:text="${weapon.normalizedName}"></td>
						<td th:text="${calibers[weapon.caliber]}"></td>
						<td>
							<ul>
    							<li th:each="mode : ${weapon.fireModes}" th:text="${mode}"></li>
  							</ul>
						</td>
						<td th:text="${weapon.fireRate}"></td>
						<td th:text="${weapon.ergonomics}"></td>
						<td th:text="${weapon.recoilVertical}"></td>
						<td th:text="${weapon.recoilHorizontal}"></td>
						<td th:text="${weapon.moa}"></td>
					</tr>
				</th:block>
			</tbody>
		</table>
	</div>

	<script src="/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js"></script>
	<script src="/js/image-zoom.js"></script>
</body>
</html>